examples/trace/pytorch_lazy_GPU-sdxl-turbo/sdxl_turbo_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch_lazy_GPU-llama-3-8B/llama_31_8b_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
