examples/trace/pytorch_lazy_RTX4090-sdxl-turbo/sdxl_turbo_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch_lazy_RTX4090-llama-3-8B/llama_31_8b_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch_lazy_RTX4090_sdxl-turbo/sdxl_turbo_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch_lazy_RTX4090_llama-3-8B/llama_31_8b_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sdxl-turbo__RTX4090/sdxl_eager_gpu_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sdxl-turbo__RTX4090/sdxl_eager_gpu_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-lazy__sdxl-turbo__RTX4090/sdxl_inductor_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-8B__RTX4090/llama8b_eager_gpu_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-8B__RTX4090/llama8b_eager_gpu_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-8B__RTX4090/llama_bundle/step_0_compute_graph.dot filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-lazy__llama-3-8B__RTX4090/llama8b_inductor_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/diffusers-group-offload__sdxl-turbo__RTX4090/sdxl_offload_group_gpu_trace.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/sd3_eager_gpu_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-3B__RTX4090/llama3b_eager_gpu_trace.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-3B__RTX4090/llama3b_eager_gpu_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-lazy__llama-3-3B__RTX4090/llama3b_inductor_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-lazy__sd3__RTX4090/sd3_inductor_gpu_inductor_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/sd3_eager_gpu_kineto.dot filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/llama_bundle/runtime_nodes.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/sd3_eager_gpu_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/sd3_eager_gpu_kineto_map.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/diffusers-group-offload__sdxl-turbo__RTX4090/sdxl_offload_group_gpu_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-lazy__sd3__RTX4090/sd3_inductor_gpu_inductor_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/sd3_eager_gpu_trace.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/diffusers-group-offload__sdxl-turbo__RTX4090/llama_bundle/step_0_compute_graph.dot filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-8B__RTX4090/llama8b_eager_gpu_trace.csv filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-3B__RTX4090/llama_bundle/step_0_compute_graph.dot filter=lfs diff=lfs merge=lfs -text
examples/trace/diffusers-group-offload__sdxl-turbo__RTX4090/sdxl_offload_group_gpu_execution_trace.json filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__sd3__RTX4090/llama_bundle/step_0_compute_graph.dot filter=lfs diff=lfs merge=lfs -text
examples/trace/pytorch-eager__llama-3-3B__RTX4090/llama3b_eager_gpu_trace.json filter=lfs diff=lfs merge=lfs -text
